.button {
  border: 1px solid #5e99c3;
  padding: 2rem 4rem;
  background-color: #77c1f6;
  font-size: 3rem;
  width: 100%;
  color: #2c2c2c;
  border-radius: 20rem;
}

.dark {
  background-color: #167ec8;
  color: #eee;
}
