.button {
  border: 1px solid #2c2c2c;
  padding: 1rem 4rem;
  border-radius: 20rem;
  font-size: 2rem;
  background-color: transparent;
  outline: none;
}

.dark-mode {
  background-color: rgb(126, 254, 112);
  border: 1px solid rgb(115, 229, 103);
}
